name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable

    - name: Install dependencies
      run: flutter pub get
      working-directory: material_order

    - name: Build APK
      run: flutter build apk --release
      working-directory: material_order

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: material_order/build/app/outputs/flutter-apk/app-release.apk
